.navStyle{
    position: sticky;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background-color: var(--color-secondary);
    z-index: 9999;
}

.navStyle h1{
    padding-left: 15px;
    text-shadow: 1px 1px var(--color-accent);
    color: var(--color-primary);
}